[submodule "sdk/binaryen"]
	path = sdk/binaryen
	url = git@dto.simba:WebAssembly/binaryen.git
[submodule "etc/system-contracts"]
	path = etc/system-contracts
	url = git@dto.simba:matter-labs/era-system-contracts.git
[submodule "etc/openzeppelin-contracts"]
	path = etc/openzeppelin-contracts
	url = git@dto.simba:matter-labs/era-openzeppelin.git
[submodule "contracts"]
	path = contracts
	url = git@dto.simba:matter-labs/era-contracts.git
